.content {
  width: 95%;
  max-width: 60rem;
  margin: var(--size-8) auto;
  font-size: var(--size-4);
  line-height: var(--size-8);
  padding: var(--size-4);
}

.content a {
  color: var(--color-primary-100);
}

.content p {
  color: var(--color-grey-800);
}

@media (min-width: 768px) {
  .content {
    padding: var(--size-8);
  }
}
