@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  --color-grey-50: hsl(265, 55%, 96%);
  --color-grey-100: hsl(265, 19%, 88%);
  --color-grey-300: hsl(265, 6%, 66%);
  --color-grey-400: hsl(265, 4%, 57%);
  --color-grey-600: hsl(265, 4%, 42%);
  --color-grey-700: hsl(265, 4%, 31%);
  --color-grey-800: hsl(276, 5%, 20%);
  --color-grey-900: hsl(280, 5%, 13%);

  --color-primary-50: #faeed1;
  --color-primary-100: #ded0b6;
  --color-primary-200: #bbab8c;

  --color-success-100: #a2f0bc;
  --color-success-500: #c4d7b2;

  --color-error-100: #f1acc9;
  --color-error-500: #ef5350;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-10: 2.2rem;
  --size-20: 5rem;
  --size-40: 10rem;

  margin: 0;
  color: #252525;
  font-family: "Nunito", "Roboto", sans-serif;
  background-color: #fafafa;
}

h1,
h2,
h3 {
  font-family: "Nunito", "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}
